name: ci
on:
  push:
  pull_request:
jobs:
  test:
    timeout-minutes: 40
    strategy:
      fail-fast: false
      matrix:
        include:
          - java: 8
          - java: 11
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-java@v4
      with:
        java-version: ${{matrix.java}}
        distribution: adopt
    - uses: actions/checkout@v4
    - uses: coursier/cache-action@v6
    - uses: sbt/setup-sbt@v1
    - run: sbt -v -Dfile.encoding=UTF8 -J-XX:ReservedCodeCacheSize=256M test
